header, main, footer {
    max-width: 90vw;
    margin: auto;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

header {
    color: #00539F;
    display: block;
    justify-content: start;
    padding: 10px 10px 0 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
}

nav a {
    color: white;
    display: none;
	padding: .5rem;
	text-align: center;
	text-decoration: none;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.hero {
    padding: 50px 20px;
    text-align: center;
    color: white;
}

.hero p {
    display: none;
}

.image-container {
    position: absolute;
    z-index: -2;
}

.image-container img {
    width: 90vw;
    height: 420px;
}

.image-shadow {
    position: absolute;
    z-index: -1;
    width: 90vw;
    height: 420px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.weather {
    color: white;
    padding: 20px;
    border-radius: 5px;
    border: solid 2.5px white;
    width: 70vw;
    justify-content: space-between;
    justify-self: center;
    display: flex;
}

.weather-details {
    display: none;
}

.btn-white {
    background-color: white;
    color: #00539F;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 5px;
}

.btn-blue {
    background-color: #00539F;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
    color: white;
}

footer {
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.event {
    background-color: white;
    border: solid 1.5px black;
    border-left: solid 5px #00539F;
    padding: 20px;
    margin: 20px;
    width: 350px;
    height: auto;
}

.event h3 {
    color: #00539F;
}

.events-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 10px;
    margin-top: 20px;
}

#upcoming-events {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
    margin-top: 20px;
}

.company {
    background-color: #f9f9f9;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: auto;
    text-align: left;
}

.company img {
    width: 100%;
    height: 200px;
}

.companies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 50px;
}

.companies h3 {
    margin: 20px;
}

.companies p {
    margin: 20px;
}

.companies-container {
    background-color: rgb(224, 224, 224);
    text-align: center;
    padding: 10px;
}

.newsletter {
    background-color: #00539F;
    padding: 65px 20px;
    text-align: center;
    color: white;
}

.newsletter input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    max-width: 280px;
    width: 55vw;
    margin: 10px;
    text-align: left;
}

.newsletter button {
    max-width: 300px;
    width: 60vw;
    margin: 0;
}

.date {
    color: #333333;
    font-size: 12px;
    font-style: italic;
}

.footer-container {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.social-media {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.social-media li {
    margin: 0 10px;
}

.social-media li a {
    color: white;
    text-decoration: none;
}

#quick-links {
    display: none;
}
.quick-links {
    display: none;
}

.contact {
    display: none;
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    position: absolute;
    top: 0;
    right: .6rem;
    cursor: pointer;
}

#menu::before {
	content: "☰";
    color: #00539F;
}

#menu.open::before {
	content: "❌";
}

.navigation {
    background-color: #00539F;
    margin-top: 10px;
}

.open a {
	display: block;
}
